<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn Go</title>
</head>
<body>

    {{.}}
    {{index .Age}}
        {{index .City 3}}
            {{index .City 2}}
                {{index .City 0}}
                    {{index .City 1}}

</body>
</html>