<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<form action="/update-action" method="POST" >
	userid<input type="text" name="userid" value={{.UserID}}><br>
	username<input type="text" name="username" value={{.Username}}><br>
	password<input type="text" name="password" value={{.Password}}> <br>
    logid<input type="text" name="logid" value={{.LogID}}><br><br>
		<input type="submit"> <br>
	</form>
</body>
</html>