<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
{{if .}}

    {{range $key, $val := .}}
<p>
    {{$key}}
</p>
        {{range $val}}
        <ul><li>
                {{.}}
            </li></ul>
        {{end}}
    {{end}}
{{end}}
</main>
<form action="/" method="POST">
    <input type="text" name="key1" autofocus autocomplete="off">
    <input type="submit" name="key2" value="submit-btn">
</form>

</body>
</html>