<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn Go</title>
</head>
<body>
Brand | Feedback | Manufacturer
{{range .}}
{{.Brand}} | {{.Feedback}} | {{.Manufacturer}} 
{{end}}

</body>
</html>