{{template "header"}}

<form method="get" enctype="multipart/form-data">
    <input type="file" id="" name="q">
    <input type="submit" value="save">
</form>
{{if .}}
{{.}}
{{end}}
{{template "footer"}}