<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn Go</title>
</head>
<body>

input           : {{.}}
double value    : {{.|double}}
square value    : {{.|square}}
square root val : {{.|      square|sqrtRoot}}

</body>
</html>